<h1><%= title %></h1>

<% for(var i = 0; i < cities.length; i++) { %>
    <div class="card col s12 m12 l6 center">
        <a href="/<%= cities[i].id %>">
            <h3>[<%= cities[i].ranking %>] <%= cities[i].name %></h3>
            <img src="<%= cities[i].image %>" alt="Image of <% cities[i].name %>">
        </a>
    </div>
<% } %>
