<h1><%= title %></h1>

<div class="card col s12 m12 l12 center">
    <div>
        <h3><%= city.name %></h3>
        <p>Ranking: <%= city.ranking %></p>
        <p>Country: <%= city.country %></p>
        <p>Population: <%= city.population %></p>
        <p>Landmarks: <%= city.landmarks %></p>
    </div>

    <div class="divider"></div>

    <img src="<%= city.image %>">

    <div class="divider"></div>

    <div class="col s6 m6 l6">
        <a class="btn hoverable waves-effect waves-ripples" href="/<%= city.id %>/edit">Edit</a>
    </div>

    <form class="col s6 m6 l6" action="/<%= city.id %>" method="post">
        <input type="hidden" name="_method" value="Delete">
        <input class="btn hoverable waves-effect waves-ripples" type="submit" value="delete">
    </form>
</div>
